@import './fonts.scss';


.footer-arabic {
  background-color: #00B2AB;
  color: #ffffff;
  padding: 24px 0;
   font-family: "Dinar", sans-serif;
  text-align: right;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  .footer-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;  // Push left & right sections
    align-items: center;
    flex-direction: row;
  }

  .footer-links {
    display: flex;
    gap: 60px;
  }

a.footer-link {
  color: white !important;
  text-decoration: none !important;
  font-size: 18px;
  font-weight: 500;
}

  /* Left-aligned social icons */
  .footer-social {
    display: flex;
    gap: 10px;

    img {
      width: 40px;
      height: 40px;
      padding: 4px;
    }
  }
}
